
<table class="table table-hover">
    <h1>list profil</h1>

<tr>
        <td>matricule</td>
        <td>nom</td>
        <td>prenom</td>
        <td>unite</td>
        <td>fonction</td>
        <td>mdp</td>
        <td>role</td>
        <td>login</td>
      
</tr>
<tr *ngFor="let pd of service.list">
    
<td (click)="populateForm(pd)">{{pd.matricule}}</td>
<td (click)="populateForm(pd)">{{pd.nom}}</td>
<td (click)="populateForm(pd)">{{pd.prenom}}</td>
<td (click)="populateForm(pd)">{{pd.unite}}</td>
<td (click)="populateForm(pd)">{{pd.fonction}}</td>
<td (click)="populateForm(pd)">{{pd.mdp}}</td>
<td (click)="populateForm(pd)">{{pd.role}}</td>
<td (click)="populateForm(pd)">{{pd.login}}</td>


<td>
<i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.idprofil)">idprofil</i>
</td>
</tr>
</table>