<div class="col-md-8" >

<table class="tablee" border="1px solid black"  >

    <h1 >liste checklist</h1>

<tr   border-bottom=" 1px solid #ddd">
    <td>idchecklist</td>
        <td>libelle</td>
        <td>critere</td>
        <td>cas_de_figure</td>
        <td>document_exiges</td>
        <td>autres_documents</td>
      
</tr>


<tr *ngFor="let pd of user">
    
        <td >{{pd.idchecklist}}</td>
       <td >{{pd.libelle}}</td>
<td (click)="populateForm(pd)">{{pd.critere}}</td>
<td (click)="populateForm(pd)">{{pd.cas_de_figure}}</td>
<td (click)="populateForm(pd)">{{pd.document_exiges}}</td>
<td (click)="populateForm(pd)">{{pd.autres_documents}}</td>

<td>
<button class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.idchecklist)">delete</button>
<button class="far fa-trash-alt fa-lg text-danger" (click)="updateChecklist(pd.idchecklist)" >Update</button>


</td>
</tr>
</table>
<div class="center">
        <button   (click)="exportToExcel()"> <img src="assets/menu/img/excel.png" alt="Flowers"  width="50" height="35"  >
        </button>

</div>

</div>