

        <nav id="mainnav-container">
                <div id="mainnav">
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
    
    
                                <ul id="mainnav-menu" class="list-group">
            
                        <li class="active-sub">
                            <a href="#">
                                <i class="demo-pli-home"></i>
                                <span class="menu-title">Home</span>
                      <i class="arrow"></i>
                            </a>
            
                          
                          
                        </li>
                        <li >
                            <a routerLink="/lstdom">
                                <i class="demo-pli-split-vertical-2"></i>
                                <span class="menu-title" >Création d'un checklist</span>
                      <i class="arrow"></i>
                            </a>
                       
                        </li>
                                    <li>
                            <a routerLink="/updloader">
                                <i class="demo-pli-split-vertical-2"></i>
                                <span class="menu-title">Téléchargement d'un checklist</span>
                      <i class="arrow"></i>
                            </a>
                                    </li>
                                    <li>
                            <a routerLink="/ListChek">
                                <i class="demo-pli-split-vertical-2"></i>
                                <span class="menu-title">Liste de documents validés</span>
                      <i class="arrow"></i>
                            </a>
                                    </li>
                                    <li>
                            <a routerLink="/addch">
                                <i class="demo-pli-split-vertical-2"></i>
                                <span class="menu-title">Liste de documents non validés</span>
                      <i class="arrow"></i>
                            </a>
                                    </li>
                                    <li>
                            <a href="#">
                                <i class="demo-pli-split-vertical-2"></i>
                                <span class="menu-title">Recherche de documents</span>
                      <i class="arrow"></i>
                            </a>
                        </li>
            
                    </ul>
    
                            </div>
                        </div>
                    </div>
          
                </div>
            </nav>
          
    

